<h3><a href="{RH_TOPICTAGS_TAGCLOUD_LINK}">{L_RH_TOPICTAGS_TAGCLOUD}</a></h3>
<p>{RH_TOPICTAGS_TAGCLOUD_TAG_COUNT}</p>
<!-- IF .rh_topictags_tags -->
	<div class="rh_topictags_tagcloud">
		<ul>
			<!-- BEGIN rh_topictags_tags -->
			<li>
					<a href="{rh_topictags_tags.LINK}" class="{rh_topictags_tags.CSS_CLASS}">{rh_topictags_tags.NAME}</a>
					<!-- IF RH_TOPICTAGS_TAGCLOUD_SHOW_COUNT -->
						<span class=rh_topictags_count>({rh_topictags_tags.COUNT})</span>
					<!-- ENDIF -->
			</li>
			<!-- END rh_topictags_tags -->
		</ul>
	</div>
<!-- ENDIF -->
