<!-- IF RH_TOPICTAGS_SHOW_FIELD -->
<dl style="clear: left;">
	<dt><label for="rh_topictags">{L_RH_TOPICTAGS}{L_COLON}</label></dt>
	<dd>{L_RH_TOPICTAGS_ALLOWED_TAGS}
		<!-- IF S_RH_TOPICTAGS_WHITELIST_ENABLED -->
			<br/>
			<!-- INCLUDEJS @robertheim_topictags/../whitelist.js -->
			<div class="rh_topictags_whitelist">
				<!-- BEGIN rh_topictags_whitelist -->
					{% include 'simple_tag.html' with {'NAME' : rh_topictags_whitelist.NAME, 'LINK' : rh_topictags_whitelist.LINK} only %}
				<!-- END rh_topictags_whitelist -->
			</div>
		<!-- ELSE -->
			{RH_TOPICTAGS_ALLOWED_TAGS_EXP}
		<!-- ENDIF -->
	</dd>
</dl>

<div ng-app="rhTopicTagsInputApp" ng-controller="rhTopicTagsInputCtrl" data-ng-init="init('{RH_TOPICTAGS}')">
	<div id="rhTopicTagsInputAppScope"></div>
	<tags-input ng-model="tags" add-on-comma="false" replace-spaces-with-dashes="{RH_TOPICTAGS_CONVERT_SPACE_TO_MINUS}" placeholder="..." tabindex="2" enable-editing-last-tag="true" min-length="1" allowed-tags-pattern="{RH_TOPICTAGS_ALLOWED_TAGS_REGEX}">
		<auto-complete source="loadTags($query)"></auto-complete>
	</tags-input>
	<input type="hidden" name="rh_topictags" id="rh_topictags" value="{[{ jsonRep }]}" />
</div>

<!-- ENDIF -->

